<div ng-controller="MapController">
  <!-- Modal -->
  <div  ng-controller="ModalController" class="modal modal-transparent fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="stopPlay()">&times;</button>
          <h4 class="modal-title">{{location.name}}</h4>
        </div>
        <div class="modal-body">
          <div ng-show = "location.videoUrl" >
            <video class="responsive"ng-src="{{location.videoUrl}}" width="340" id="myvideo" webkit-playsinline="true">
              Your browser does not support HTML5 video.
            </video>
            <!-- Video Controls -->
            <div id="video-controls">
              <input class="progress-bar orange" type="range" id="seek-bar" value="0">
              <div class="row">
                <button class="button button-clear orange col-33" type="button" id="pre-backward"><i class="icon super-ios-arrow-back orange"></i></button>
                <button class="button button-clear orange col-33" type="button" id="play-pause"><i class="icon super-pause orange"></i></button> 
                <button class="button button-clear orange col-33" type="button" id="next"><i class="icon super-ios-arrow-forward orange"></i></button>
              </div>
              <div>
                {{location.description}}
              </div>
            </div>
          </div>
          <div ng-show = "location.audioUrl" >
            <audio ng-src="{{location.audioUrl}}" id="myaudio">
              Your browser does not support the audio element.
            </audio>
            <div>
              <img class="responsive" ng-src="{{location.imageUrl}}"></img>
            </div>
            <div id="audio-controls">
              <input class="progress-bar orange" type="range" id="seek-bar-audio" value="0">
              <div class="row">
                <button class="button button-clear orange col-33" type="button" id="pre-backward-audio"><i class="icon super-ios-arrow-back orange"></i></button>
                <button class="button button-clear orange col-33" type="button" id="play-pause-audio"><i class="icon super-pause orange"></i></button> 
                <button class="button button-clear orange col-33" type="button" id="next-audio"><i class="icon super-ios-arrow-forward orange"></i></button>
              </div>
              <div>
                {{location.description}}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="stopPlay()"class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="googleMap"></div>
<!-- Tab bar icons-->
<div class="parent">
  <div class="child">
    <div class="button-bar tab-buttons">
      <a class="button buttonorange">
      <i class="icon super-ios-gear"></i></a>
      <a class="button buttonorange">
      <i class="icon super-ios-person"></i>
      </a>
    </div>
    <div class="home">
      <a class="button buttonorange home">
      <img class="hapicon" src="/Happenstancepic.png">
      </a>
    </div>
  </div>
</div>
</div>
