<div class="padding" ng-controller="ModalController">

  <super-navbar>
    <super-navbar-title>
      Video test
    </super-navbar-title>
  </super-navbar>

<!-- video width="340" id="myvideo" webkit-playsinline="true" autoplay>
  <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
  Video Controls -->
<!--   <div id="video-controls">
    
    <input class="progress-bar orange" type="range" id="seek-bar" value="0">

    <div class="row">
      <button class="button button-clear orange col-33" type="button" id="pre-backward">&#60;</button>

      <button class="button button-clear orange col-33" type="button" id="play-pause">&#10073;&#10073;</button> 


      <button class="button button-clear orange col-33" type="button" id="next">&#62;</button>
    </div>

    <div>
      Description: .....
    </div>


  </div> -->
  <div id="custom-modal">
    <div id="overlay">
        This is a custom modal. The angular-modal-service doesn't depend on bootstrap, you
        can use any modal you want.
        <a href ng-click="close()">Close</a>
    </div>
    <div></div>
  </div>


</div>
