<div ng-controller="ModalCtrl">
  <h2>This is a modal page</h2>

<video width="340" id="myvideo" webkit-playsinline="true" autoplay>
  <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
 <!-- Video Controls -->
  <div id="video-controls">

    <input class="progress-bar orange" type="range" id="seek-bar" value="0">

    <div class="row">
      <button class="button button-clear orange col-33" type="button" id="pre-backward">&#60;</button>

      <button class="button button-clear orange col-33" type="button" id="play-pause">&#10073;&#10073;</button>


      <button class="button button-clear orange col-33" type="button" id="next">&#62;</button>
    </div>

    <div>
      Description: .....
    </div>

</div>